<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leon.biuvideo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activities.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.actionActivities.PartitionDataListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.actionActivities.DataListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.publicActivities.LiveStreamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.publicActivities.UserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.publicActivities.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.publicActivities.PictureActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.publicActivities.AudioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.publicActivities.ArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.drawerFunction.PopularActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.drawerFunction.PartitionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.drawerFunction.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>