<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leon.bilihub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.setting.SettingQualityActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.FolderDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.PictureViewerActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.channel.ChannelDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.channel.ChannelActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.HistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.RelationDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.RelationActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.WatchLaterActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.OrderActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.DownloadActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.LiveStreamActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.UserActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.UserAudioActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.PictureActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.AudioActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.publicActivities.ArticleActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.PopularActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.partition.PartitionDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.partition.PartitionActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.drawerFunction.SettingActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.search.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.leon.bilihub.ui.activities.MainActivity"
            android:configChanges="keyboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
    </application>

</manifest>